@import '../../Assets/style/colors';

.header {
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: $main-color;
    // &.transparent {
    //     background-color: transparent;
    // }
    // &.hide {
    //     display: none;
    // }
    .nav-bar {
        display: flex;
        height: 50%;
        align-items: center;
        .nav-link {
            display: flex;
            align-items: center;
            a {
                padding: 6px 12px;
                color: white;
                font-size: 20px;    
            }
        }
    }
}