@mixin flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin margin-wrapper {

}
@mixin font-header {
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
}