@import '../../Assets/style/colors';
.homepage-wrapper {
    background-color: $main-color;
    padding: 0 55px;
    .homepage {
        display: flex;
        align-items: center;
        height: 650px;
        .home-info {
            margin: 0 55px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            flex-basis: 50%;
            h1 {
                font-weight: 700;
                font-size: 48px;
                line-height: 72px;
                color: $neutral-color;
            }
            p {
                font-weight: 500;
                font-size: 24px;
                line-height: 36px;
                color: $neutral-color;
            }
        }
        .home-logo {
            flex-basis: 50%;
            display: flex;
            justify-content: center;
            img {
                width: 75%;
            }
        }
    }
}
