@import "../../Assets/style/layout";

.divisions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 42px;
    margin-bottom: 176px;
    gap: 62px;
    h2 {
        
        @include font-header();
    }
    .divisions-list {
        display: grid;
        width: 80%;
        row-gap: 50px;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,250px);
    }
}